{% extends "Base_layout.html" %}
{% block title %}{{ current_user.first_name }} - Password Database{% endblock %}
{% block content%}
<body class="body1">
<div class="center">
    <a href="{{url_for('users.account')}}"><img src="{{url_for('static', filename='logo1.png')}}" alt="Image" height="106px" width="201px"></a>
</div>
{% for password in passwords %}
    <div class="card rounded-pill mt-3 col-10 center">
        <div class="row">
            <div class="card-body col-2 font_karla text-black">
                {{ password.appname }}
            </div>
            <div class="card-body col-2 font_karla text-black">
                {{ password.email }}
            </div>
            <div class="card-body col-2">
                <input class="rounded-pill text-center font_karla text-black" value="{{password_decryption(key, password.nonce, password.tag, password.password)}}" readonly>
            </div>
            <div class="card-body col-2">
                <a class="btn btn-secondary btn-sm font_karla2 text-black" href="{{ url_for('passwords.update_password', password_id=password.id) }}">Update</a>
                <a class="btn btn-secondary btn-sm font_karla2 text-black" href="{{ url_for('passwords.delete_password', password_id=password.id) }}">Delete</a>
            </div>
        </div>
    </div>

{% endfor %}
</body>
{% endblock %}